Back/Movies.Api/Movies.Api/bin
Back/Movies.Api/Movies.Api/obj
Back/Movies.Api/.vs
Back/Movies.Application/bin
Back/Movies.Application/obj
Back/Movies.Contracts/bin
Back/Movies.Contracts/obj
Front/Source/.vscode
