 
  .card {
    height: 100px;
  }
  
  .card > img {
    height: 100%;
    padding-right: 10px;
    float: left;
  }
  
  .card > div {
    padding-left: 10px;
    vertical-align: top;
    line-height: 45px;
    font-size: 18px;
    font-weight: 450;
  }

  .tag {
    border-radius: 5px;
    line-height: 30px;
    background-color:rgb(255, 114, 0) ;
    color: #fff;
    margin-right: 5px;
    padding: 3px;
  }
  
 
  